<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vnollxonlinejudge.mapper.SubmissionMapper">
    <insert id="batchInsert">
        INSERT INTO submission (
        user_name, problem_name, status, create_time,
        language, uid, pid, time, code, cid
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userName}, #{item.problemName}, #{item.status}, #{item.createTime},
            #{item.language}, #{item.uid}, #{item.pid}, #{item.time}, #{item.code}, #{item.cid})
        </foreach>
    </insert>
</mapper>